<h1>Live! Eventos reportados: <%= @reports.length %></h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
      <th>Email</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="live-tbody">
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.id %></td>
        <td><%= report.title %></td>
        <td><%= report.description %></td>
        <td><%= report.email %></td>
        <td><%= report.image_name %></td>
        <td><%= link_to 'Show', report %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
