<div class="live-image">
  <%= image_tag "live.gif" %>
</div>
<h1>Eventos reportados: <%= @reports.length %></h1>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Título</th>
      <th>Descrição</th>
      <th>E-mail</th>
      <th>Imagem</th>
    </tr>
  </thead>

  <tbody id="live-tbody">
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.id %></td>
        <td><%= report.title %></td>
        <td><%= report.description %></td>
        <td><%= report.email %></td>
        <td><%= report.image_name %></td>
        <td><%= link_to 'Info', report %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
