<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="title">Título</label>
    <%= form.text_field :title, id: :report_title, disabled: true %>
  </div>

  <div class="field">
    <label for="description">Descrição</label>
    <%= form.text_area :description, id: :report_description, disabled: true %>
  </div>


  <div class="field">
    <label for="email">E-mail</label>
    <%= form.text_field :email, id: :report_email, disabled: true %>
  </div>

  <hr/>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.select :status_id, options_for_select(Status.all.map{|s|[s.name, s.id]}), id: :report_status_id %>
  </div>

  <div class="field">
    <label for="observation">Observação</label>
    <%= form.text_area :observation, id: :report_observation, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
