<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @report.status.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @report.email %>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%=@report.image%>"/>
</p>

<p>
  <strong>Lat:</strong>
  <%= @report.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @report.lng %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @report.observation %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
